@page
@model GULPE_Assignment_IPT101.Views.Home.AboutModel
@{
}

<h1>About Myself</h1>

<p>My Name is Mark Angelo Gulpe and Im 19 years old.<br>
    My dream Job is to become a Full-stack Developer or a Game developer. I want to inspire people and motivates them.
    <br>
    <br>
    My Hobbies:
    <br />
    1. Playing online games<br />
    2. Basketball<br />
    3. BodyBuilding<br />
    4. Drawing<br />
    5. Watching anime or reading a manga<br />
    6. Listening to music<br />

    <br /><br />
    “Work hard in silence, let your success be the noise.” – Frank Ocean.
</p>