@{
    ViewData["Title"] = "Home Page";
}

<!-- 
<center>
    <font color="white" size="10" face="Futura Std Medium">

    <div id="title">WELCOME</div>

</font>

</center>
-->

    <div id="choices">
    Gulpe, Mark Angelo C. - 19 Years Old
    </div>
    <br>

    <div id="paragraph">
    <p id="p2">My dream Job is to become a Full-stack Developer or a Game developer. I want to inspire people and motivates them.
        <br><br><b>My Hobbies: </b><br>
        1. Playing online games<br>
        2. Basketball<br>
        3. BodyBuilding<br>
        4. Drawing<br>
        5. Watching anime or reading a manga<br>
        6. Listening to music<br><br>
        
        <b>My One Of The Favorite Anime To Watch: </b>

    </p>
    </div>

    <div id="quote">
        “Work hard in silence, let your success be the noise.” – Frank Ocean.
    </div>

<div id="image1">
    <img src="~/css/JJK.jpg" alt="JJK" style="max-width: 480px; max-height: 480px;">

</div>

<div id="image2">
    <img src="~/css/AOT.jpg" alt="AOT" style="max-width: 480px; max-height: 480px;">

</div>

<div id="image3">
    <img src="~/css/JOJO.jpg" alt="JOJO" style="max-width: 480px; max-height: 480px;">

</div>

<div id="button1">
    WATCH

</div>

<div id="button2">
    WATCH

</div>

<div id="button3">
    WATCH

</div>

<center>
<img class="profile-image" src="~/css/29_630168_220723185303 (1).jpeg">
</center>